$\textbf{LIBRARIES}$

In [2]:
import pandas as pd

$\textbf{ Data import}$

In [10]:
path = "..\\Datasets\\Boston Housing\\HousingData.csv"
data = pd.read_csv(path)

$\textbf{Analysing Imported Data}$

In [11]:
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2

In [25]:
print("============= Data Shape: ============= \n", data.shape)
print("\n ============= Data Types: ============= \n", data.dtypes)

============= Data Shape: =============
 (506, 14)

 ============= Data Types: =============
 CRIM       float64
ZN         float64
INDUS      float64
CHAS       float64
NOX        float64
RM         float64
AGE        float64
DIS        float64
RAD          int64
TAX          int64
PTRATIO    float64
B          float64
LSTAT      float64
MEDV       float64
dtype: object

 ============= Data Is null: =============
 CRIM       20
ZN         20
INDUS      20
CHAS       20
NOX         0
RM          0
AGE        20
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT      20
MEDV        0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     486 non-null    float64
 1   ZN       486 non-null    float64
 2   INDUS    486 non-null    float64
 3   CHAS     486 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      486 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    int64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    486 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(12), int64(2)
memory usage: 55.5 KB

 ============= Data Info: =============
 None

 ============= Data Summary: =============
              CRIM          ZN       INDUS        CHAS         NOX          RM  \
count  486.000000  486.000000  486.000000  486.000000  506.000000  506.000000
mean     3.611874   11.211934   11.083992    0.069959    0.554695    6.284634
std      8.720192   23.388876    6.835896    0.255340    0.115878    0.702617
min      0.006320    0.000000    0.460000    0.000000    0.385000    3.561000
25%      0.081900    0.000000    5.190000    0.000000    0.449000    5.885500
50%      0.253715    0.000000    9.690000    0.000000    0.538000    6.208500
75%      3.560263   12.500000   18.100000    0.000000    0.624000    6.623500
max     88.976200  100.000000   27.740000    1.000000    0.871000    8.780000

              AGE         DIS         RAD         TAX     PTRATIO           B  \
count  486.000000  506.000000  506.000000  506.000000  506.000000  506.000000
mean    68.518519    3.795043    9.549407  408.237154   18.455534  356.674032
std     27.999513    2.105710    8.707259  168.537116    2.164946   91.294864
min      2.900000    1.129600    1.000000  187.000000   12.600000    0.320000
25%     45.175000    2.100175    4.000000  279.000000   17.400000  375.377500
50%     76.800000    3.207450    5.000000  330.000000   19.050000  391.440000
75%     93.975000    5.188425   24.000000  666.000000   20.200000  396.225000
max    100.000000   12.126500   24.000000  711.000000   22.000000  396.900000

            LSTAT        MEDV
count  486.000000  506.000000
mean    12.715432   22.532806
std      7.155871    9.197104
min      1.730000    5.000000
25%      7.125000   17.025000
50%     11.430000   21.200000
75%     16.955000   25.000000
max     37.970000   50.000000

In [30]:
print("\n ============= Data Is null: =============\n", data.isnull().sum())
print("\n ============= Data Info: =============\n", data.info())

 ============= Data Is null: =============
 CRIM       20
ZN         20
INDUS      20
CHAS       20
NOX         0
RM          0
AGE        20
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT      20
MEDV        0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     486 non-null    float64
 1   ZN       486 non-null    float64
 2   INDUS    486 non-null    float64
 3   CHAS     486 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      486 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    int64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    486 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(12), int64(2)
memory usage: 55.5 KB

 ============= Data Info: =============
 None

In [31]:
print("\n ============= Data Summary: =============\n", data.describe().T)

 ============= Data Summary: =============
          count        mean         std        min         25%         50%  \
CRIM     486.0    3.611874    8.720192    0.00632    0.081900    0.253715
ZN       486.0   11.211934   23.388876    0.00000    0.000000    0.000000
INDUS    486.0   11.083992    6.835896    0.46000    5.190000    9.690000
CHAS     486.0    0.069959    0.255340    0.00000    0.000000    0.000000
NOX      506.0    0.554695    0.115878    0.38500    0.449000    0.538000
RM       506.0    6.284634    0.702617    3.56100    5.885500    6.208500
AGE      486.0   68.518519   27.999513    2.90000   45.175000   76.800000
DIS      506.0    3.795043    2.105710    1.12960    2.100175    3.207450
RAD      506.0    9.549407    8.707259    1.00000    4.000000    5.000000
TAX      506.0  408.237154  168.537116  187.00000  279.000000  330.000000
PTRATIO  506.0   18.455534    2.164946   12.60000   17.400000   19.050000
B        506.0  356.674032   91.294864    0.32000  375.377500  391.440000
LSTAT    486.0   12.715432    7.155871    1.73000    7.125000   11.430000
MEDV     506.0   22.532806    9.197104    5.00000   17.025000   21.200000

                75%       max
CRIM       3.560263   88.9762
ZN        12.500000  100.0000
INDUS     18.100000   27.7400
CHAS       0.000000    1.0000
NOX        0.624000    0.8710
RM         6.623500    8.7800
AGE       93.975000  100.0000
DIS        5.188425   12.1265
RAD       24.000000   24.0000
TAX      666.000000  711.0000
PTRATIO   20.200000   22.0000
B        396.225000  396.9000
LSTAT     16.955000   37.9700
MEDV      25.000000   50.0000